{% extends 'dashboard.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<div class="card">
    <div class="card-header">Collection Reports</div>
    <div class="card-body">
       <div class="row">
        <div class="col-4">
            <form method="get" action="">
                <div class="d-flex justify-content-start">
                    <div class="me-2">
                        <select name="chart_type" class="mb-3 form-control select-chart-type">
                            <option value="daily"  {% if request.GET.chart_type and request.GET.chart_type == 'daily' %} selected {% endif %}>Daily</option>
                            <option value="monthly"  {% if request.GET.chart_type and request.GET.chart_type == 'monthly' %}selected {% endif %}>Monthly</option>
                            <option value="yearly"  {% if request.GET.chart_type and request.GET.chart_type == 'yearly' %}selected {% endif %}>Yearly</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary">Change</button>
                    </div>
                </div>
            </form>
         </div>
         {% if request.GET.chart_type and request.GET.chart_type != 'yearly' %}
         <div class="col-8">
            <form action="">
                <input type="hidden" name="chart_type" value="{% if request.GET.chart_type %}{{request.GET.chart_type}}{% else %}daily{% endif %}"/>
                <div class="row">
                    <div class="col-4">
                        <!-- years -->
                        <select name="year" class="mb-3 form-control">
                            <option >----Select Year----</option>
                            {% for year in years %}
                            <option value="{{ year.visit_date__year }}" {% if currentYear == year.visit_date__year %} selected {% endif %}>
                                {{ year.visit_date__year }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if request.GET.chart_type and request.GET.chart_type == 'daily' %}
                    <div class="col-4">
                                 <!-- Month -->
                    <select name="month" class="mb-3 form-control">
                        <option >----Select Month----</option>
                            {% for month in monthNames %}
                        <option value="{{month.id}}">{{month.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <div class="col-4">
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
         </div>

        {% endif %}

         {% if not request.GET.chart_type or request.GET.chart_type == 'daily' %}
         <div class="col-12">
            <div id="chartDaily"></div>
         </div>
         {% endif %}
       </div>

       {% if request.GET.chart_type and request.GET.chart_type == 'monthly' %}
       <div class="col-12">
        <div id="chartMonthly"></div>
       </div>
       {% endif %}

       {% if request.GET.chart_type and request.GET.chart_type == 'yearly' %}
       <div class="col-12">
        <div id="chartYearlyly"></div>
       </div>
       {% endif %}
    </div>
</div>

<script>
    // Daily Chart
    var optionsDaily = {
        series: [{
            name: "Patients",
            data: {{ dailyChart.dailyChartValues }}
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        title: {
            text: "Daily Chart",
            align: 'left'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5
            },
        },
        xaxis: {
            categories: {{ dailyChart.dailyChartLabels |safe}},
        },
        yaxis:{
            stepSize:100,
        }
    };
    var chartDaily = new ApexCharts(document.querySelector("#chartDaily"), optionsDaily);
    chartDaily.render();

    // Monthly Chart
    var optionsMonthly = {
        series: [{
            name: 'Patients',
            data: {{ monthlyChart.monthlyChartValues}}
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        title: {
            text: "Monthly Chart",
            align: 'left'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5
            },
        },
        xaxis: {
            categories: {{ monthlyChart.monthlyChartLabels | safe}},
        },
        yaxis:{
            stepSize:100,
        }
    };
    var monthlyChart = new ApexCharts(document.querySelector("#chartMonthly"), optionsMonthly);
    monthlyChart.render();

    // year Chart
    var optionsYaerly = {
        series: [{
            name: 'Patients',
            data: {{ yearlyChart.yearChartValues }}
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        title: {
            text: "Yearly Chart",
            align: 'left'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5
            },
        },
        xaxis: {
            categories: {{ yearlyChart.yearChartLabels | safe}},
        },
        yaxis:{
            stepSize:100,
        }
    };
    var yearlyChart = new ApexCharts(document.querySelector("#chartYearly"), optionsYearly);
    yearlyChart.render();

    //Change Chart type
    
</script>

{% endblock %}
