<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Next visit NOtification</title>
</head>
<body>
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class="container">
        <table width="600" align="center" border="1" cellpadding="5">
            <tr>
                <td align="center" colspan="2">Dr .kyaw gyi</td>
            </tr>
            <tr>
               <td colspan="2" align="center">
                <h4>Hello, {{patient.name}}</h4>
                <p>Your appoment has been scheduled on following detail</p>
               </td>
            </tr>
            <tr>
                <th>Next visit on</th>
                <td>{{next_visit | date:'d-m-Y'}}</td>
            </tr>
        </table>
    </div>

</body>
</html>